@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fintrac</h1>
    <p class="lead">Fintrac is third part Company that will be created to bridge the gap between financial institutions (e.g banks, insurance, investment firms) and customers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            Application will provide user the ability to type a request and receive response from registered financial service advisor from different financial institutions. It will also give the user the ability to choose interested product/service from reques t amet fermentum tempus. Fusce at libero quam. Vivamus sagitti
        </p>
        <p>@Html.ActionLink("About", "./About")</p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>uisque convallis dolor sit amet fermentum tempus. Fusce at libero quam. Vivamus sagittis tortor nec sodales molestie. Quisque pretium a libero ac dapibus. Cras in venenatis ex. Vestibulum elementum ante at libero accumsan vulputate. Curabitur at neque ac mi feugiat efficitur non ut ipsum. Nunc et porttitor ante..</p>
        <p>@Html.ActionLink("Login", "../Account/Login")</p>
    </div>
    <div class="col-md-4">
        <h2>Offers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus euismod odio sed blandit. Mauris ullamcorper, turpis eu convallis eleifend, nunc arcu scelerisque velit, et lobortis ligula nisl id est. Nunc felis ante, tempor nec lorem id, varius faucibus eros. Maecenas faucibus venenatis ante, eu dictum elit.</p>
        <p>@Html.ActionLink("Login", "../Account/Login")</p>
    </div>
</div>