
@{
    ViewBag.Title = "WelcomeAdvisor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>


    <button>@Html.ActionLink("Add Offer", "AddOffer", "Offer")</button> <br /><br />
    <button>@Html.ActionLink("Update Offer", "UpdateOffer", "Offer")</button> <br /><br />
    <button>@Html.ActionLink("Validate Request", "ValidateRequest", "Offer")</button> <br /><br />
